# Git expands ~/ to $HOME
[init]
  #templatedir = ~/.git_template
[core]
  excludesfile = ~/.cvsignore
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  st = "status"
  co = "checkout"
[push]
  default = current
[rebase]
  autosquash = true
[user]
  name = Kris Kemper
  email = kriskemper@gmail.com
[include]
  path = ~/.gitconfig.local
[merge]
  conflictstyle = diff3
